/*

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


div {
    background-color: red;
    border: solid 10px black;
    border-width: 10px;
    min-height: 120px;
    font-family: 'Playfair Display', serif;
}

.yellow-block {
    background-color: yellow;
}


rectangle {
    background-color: blue;
}


.add-css {
    border: 10px solid green;
}

.inline {
    display: inline-block;
} 

*/

.align p {
    text-align:justify;
   /* margin: auto; */
    width: 500px;
    background-image: url(https://img.pravda.com/images/doc/b/2/b206705-reznikov-getty3.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: ;
    height: 100vh;
}