/*
* {
    padding: 0;
    margin: 0;
}


.menu ul {
    text-align: center;
}

.menu ul li {
    display: inline;
    font-size: 32px;
    padding: 15px;
}

.menu ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.menu ul li a {
    color: black;
    text-decoration: none;

}

.menu ul li a::after {
    color: black;
    text-decoration: none;

}


.section {
    display: flex;
}

.container {
   height: 200px;
   text-align: center;
  
    
}

.background {

    width: 280px;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#card-1 {
    background-image: url(../IMG/barcelona-park-guell-GettyImages-512152500.webp);
}

#card-2 {
    background-image: url(../IMG/barcelona-placa-reial-GettyImages-170400044.webp);
}

*/

/*
.float {
    width: 150px;
    height: 150px;
    background-color: blue;
}

.wrapper p {
    font-size: 24px;
    
}

.wrapper * {
    float: left;
}


.wrapper {
    height: auto;
    overflow: hidden;
}

*/

.task-1 {
    height: auto;
    margin: 0 auto;
    width: 500px;
}

.task-1 li {
    list-style-type: none;
    float: left;
    padding: 15px;
}

.task-1 li:hover {
    border-bottom: 2px solid black;
    cursor: pointer;
}


.text-underline {
    clear: both;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.text-underline::after {
    content: "";
    width: 125px;
    height: 3px;
    background-color: brown;
    float: left;
    margin: 0 190px;
}

.counter-element {
    counter-increment: count-box;
    font-size: 22px;
    margin: 10px 0;
}


.counter-element::before {
    content: counter(count-box, upper-roman);
    text-align: center;
    vertical-align: center;
    background-color: black;
    color: white;
    margin: 10px;
}